IDPS.json
{
  "name": "IDPS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "detect-ip",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-704, 144],
      "id": "dec7161d-9469-482c-80a7-e5da7396986b",
      "name": "Webhook"
    },
    {
      "parameters": {
        "url": "https://api.abuseipdb.com/api/v2/check?ipAddress={{$json[\"ip\"]}}&maxAgeInDays=90",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "YOUR_VALID_API_KEY_HERE"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-528, 16],
      "id": "3ec9241d-c8b5-4841-a2d2-9e22961dba65",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "{{$json[\"data\"][\"abuseConfidenceScore\"]}}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "greater"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-192, 128],
      "id": "f524f960-0257-4987-92ab-33eb98978957",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "8154683270",
        "text": "⚠️ *Suspicious IP Detected!*\n\n*IP:* {{$json[\"data\"][\"ipAddress\"]}}\n*Score:* {{$json[\"data\"][\"abuseConfidenceScore\"]}}\n*Country:* {{$json[\"data\"][\"countryCode\"]}}\n*Domain:* {{$json[\"data\"][\"domain\"]}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [160, 128],
      "id": "1a805c6b-ff30-4b15-8cf4-9ed349f8381c",
      "name": "Send Telegram Alert",
      "credentials": {
        "telegramApi": {
          "id": "PFa5lxsLouLFzcUl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1C9YyMNDeMAcqfKINSCj3MM-89hFMOXT4BrQT7AMJcKw"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Address": "{{$json[\"data\"][\"ipAddress\"]}}",
            "Score": "{{$json[\"data\"][\"abuseConfidenceScore\"]}}",
            "Country Code": "{{$json[\"data\"][\"countryCode\"]}}",
            "Domain": "{{$json[\"data\"][\"domain\"]}}"
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-304, 416],
      "id": "616003a9-2dc7-4787-8caf-f7938796db8c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PnqlRA9ULQl0BvEZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [
        [
          { "node": "Send Telegram Alert", "type": "main", "index": 0 },
          { "node": "Append row in sheet", "type": "main", "index": 0 }
        ],
        [
          { "node": "Append row in sheet", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": true
}